/*** PRODUCT GALLERY ***/
ul.galleria
{
  margin-top: 20px;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.galleria li
{
  background-color: #FFF;
  border: 1px solid #DDD;
  float: left;
  padding: 10px;
  margin:0 15px 15px 0;
  width: 150px;
}
ul.galleria li .fork-form-checkbox {
  float: left;
  width: 20px;
}
ul.galleria li .fork-form-checkbox + label {
  float: left;
  width: auto;
}
ul.galleria li img
{
  cursor: move;
  width: 100%;
  margin-bottom: 10px;
}
ul.galleria li textarea
{
  width: 100%;
  height: 80px;
  padding: 5px;
  margin-bottom: 10px;
}
p#select-all-images {
  float: left;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
}
p#select-all-images input {
  float: left;
  width: 20px;
}
p#select-all-images label {
  width: auto;
  float: left;
}
/*** END PRODUCT GALLERY ***/
